.mobileFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
footer {
  font-family: 'Roboto', sans-serif;
  color: white;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
  padding-bottom: 10px;
  color: white;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: white;
}
p {
  line-height: 1.5;
  font-size: 1.4rem;
  padding-bottom: 10px;
  color: white;
}
footer {
  font-size: 2rem;
  margin-top: 10px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
}
.container .menuoptions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.container header nav a {
  text-decoration: none;
  color: white;
  justify-content: space-between;
  font-size: 2rem;
}
.container .main {
  margin-top: 40px;
  background-image: url(../images/main1.jpg);
  background-size: unset;
}
.container button {
  width: 140px;
  height: 40px;
  background: white;
  align-items: flex-start;
  margin-left: 40%;
  border: 1px solid black;
  margin-top: 40px;
  border-radius: 30px;
}
.container .WHYBUY {
  text-align: center;
  font-size: 80px;
  color: white;
}
.container .mid {
  margin-top: 20px;
  color: black;
}
.container .first {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.container p {
  font-size: 2.5rem;
  margin-top: 10px;
}
.container h1 {
  text-align: center;
}
.container .Explore {
  width: 33%;
}
@media (max-width: 500px) {
  .container .Explore {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Explore .camera {
  width: 100%;
}
.container .Try-it {
  width: 33%;
}
@media (max-width: 500px) {
  .container .Try-it {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Try-it .vrimage {
  width: 100%;
}
.container .Insured {
  width: 33%;
}
@media (max-width: 500px) {
  .container .Insured {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Insured .teslaimage {
  width: 100%;
}
.container .Featured-Products {
  margin-top: 20px;
  width: 100%;
}
.container .Featured-Products .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .Featured-Products .Tesla {
  width: 50%;
}
@media (max-width: 500px) {
  .container .Featured-Products .Tesla {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Featured-Products .Tesla .teslarent {
  width: 100%;
}
.container .Featured-Products .Vr {
  width: 50%;
}
@media (max-width: 500px) {
  .container .Featured-Products .Vr {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10%;
  }
}
.container .Featured-Products .Vr .vrrent {
  width: 100%;
}
.container .Featured-Products .drone {
  width: 50%;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .container .Featured-Products .drone {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Featured-Products .drone .dronerent {
  width: 100%;
}
.container .Featured-Products .gopro {
  width: 50%;
  margin-top: 10px;
}
@media (max-width: 500px) {
  .container .Featured-Products .gopro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container .Featured-Products .gopro .goprorent {
  width: 100%;
}
.container .about-main {
  margin-top: 10%;
}
.container .Why {
  margin-top: 5%;
}
.container p {
  margin-top: 10%;
}
.container .headimage {
  margin-top: 5%;
}
@media (max-width: 500px) {
  .about-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.How-about {
  margin-top: 10%;
}
.How-about .mid-about .How {
  margin-top: 10%;
  margin-bottom: 10%;
}
.What-About {
  margin-top: 10%;
}
@media (max-width: 500px) {
  .red-moon {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
