.container{
    margin-right: auto; 
    margin-left:  auto;
  
    max-width: 1000px; 
  
    padding-right: 10px; 
    padding-left:  10px; 

// Header Navigation
  .menuoptions {
      
      width : 100%;
      justify-content: space-around;
  }
  header nav  a {
      text-decoration: none;
      color :@textcolor;     //Using Variables
     justify-content: space-between; 
      font-size: @font-size;   //Using Variables
  }
  //             Top Section                //
  .main {
    .flexBox(100%, space-evenly);//Using parametric mixins 
      
      margin-top:40px;
      background-image: url(../images/main1.jpg);
      background-size: unset;
      
    }
    .mainbox{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    button {
      width: 140px;
      height: 40px;
      background: white;
      align-items: flex-start;
      border: 1px solid black;
      margin-top :40px;
      border-radius: 30px;
  
     }
    .WHYBUY{
      text-align: center;
      font-size: 80px;
      color : white;
    }
   //      Mid Section       //
   .mid {
    margin-top : 20px;
    color:black;
    }
    .first {
        .flexBox(100%,space-between); //Using Parametric Mixins
    }
    p {
      font-size : 2.5rem;
      margin-top : 10px;
    }
    h1{
        text-align: center;
    }
    .Explore {
       width: 33%;
        @media @mobile{
            .mobileFlex();  //Using Mixins
        }
    .camera{
          width :100%;
        }
    }
    .Try-it{
    width : 33%;
    @media @mobile{
        .mobileFlex();  //Using Mixins
    }
    .vrimage{
      width:100%;
        }
    }
  
    .Insured{
      width : 33%;
      @media @mobile{
        .mobileFlex();  //Using Mixins
      }
    
      .teslaimage {
        width:100%;
        
        }
    }
//                      Bottom Section                // 
    .Featured-Products{
    margin-top:20px;
    width : 100%;
    //  h1{
    //   text-align : center
    // }
    .products {
      display : flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .Tesla{
      width : 50%;
      @media @mobile{
        .mobileFlex(); //Using Mixins
      }
      .teslarent{
        width:100%;
    }
}
    .Vr{
      width : 50%;
      @media @mobile{
        .mobileFlex(); //Using Mixins
    }
      .vrrent{
        width:100%;
      }
  }
  
  .drone{
    width : 50%;
    margin-top : 10px;
    @media @mobile{
        .mobileFlex(); //Using Mixins
        
    }
    .dronerent{
      width:100%;
    }
  }
  
  .gopro{
   width : 50%;
   margin-top : 10px;
   @media @mobile{
    .mobileFlex(); //Using Mixins
    
}
   .goprorent{
    width:100%;
   }
  }
  
  }
  
  
///CSS for About page 

.about-main{
    // border : 1px solid red;
    margin-top : @margin-top;

    
    }
    
    .Why{
        margin-top :5%;  
    }
        // border : 1px solid green;
    p{
        margin-top: @margin-top;
    }
    .headimage{
        margin-top: 5%;

        
        
        
    }

}

.about-image{
    @media @mobile{
        .mobileFlex(); //Using Mixins
    
}
}

.How-about{
    margin-top : @margin-top;

    .mid-about .How{
        margin-top : @margin-top;
        margin-bottom: 10%;
    }
}

.What-About{
    margin-top :@margin-top;
}

.red-moon{
    @media @mobile{
        .mobileFlex(); //Using Mixins
        
    }
}

