.container {
    background-image: url(/design-files/rent-tech.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    @media @mobile {
        background: @main-bg;
        background-size: cover;
        background-position: inherit;
        height: 230rem;
        width: 320px;
    }
    // @media @tablet {
    //     background: @hover;
    //     width: 100%;
    //     background-size: cover;
    //     background-position: center;
    //     height: 259rem;
    //     width: 540px;
    // }
}
.logo {
    height: 40px;
}
.topNav {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        border: solid black 1px;
        width: 1880px;
        background-color: rgb(44, 35, 122);
        }
        @media @mobile {
            display: flex;
            justify-content: space-between;
            margin: 2px;
            width: 320px;
            height: 8rem;
        }
        // @media @tablet {
        //     width: 940px;
        //     height: 0 auto;
        //     display: flex;
        //     justify-content: flex-start;
        //     font-size: 25px;
        // }
    
    .nav-links {
        
        color: @nav-text;   
        font-size: 1.8rem;
    } 
    a:Hover {
        color: @hover;
    }
    h1 {
        height: 50%;
        color: @font-color;
    }
    
}

.top-img {
    .image;
    margin: 15px auto;
    max-width: 800px;
    @media @mobile {
       display: none;
    }
    
    // @media @tablet {
    //    display: block;
    //    padding: 5%;
    //    border-radius: 40%;
    //    border: solid black 1px;
    //    width: 100%
    // }
   
}

.main {
    .middle-section {
        display:flex;
        color: @font-color;
        width: 100%;
        margin: 15px auto;
        p {
            padding: 5%;
            border: solid black 1px;
            margin: 0 10px;
            border-radius: 8px;
            background-color: @copywright-text;
            opacity: .7;
        }
    
        @media @mobile{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
        }
    }
}

.title-slogan {
    text-align: center;
    color: @font-color;
}

.main-title {
    text-align: center;
    margin-top: 15px;
    font-size: 5rem;
    color: @secondary-text;
}

Button {
    
    .classy-button;
    margin: 25px;
    width: 10%;
    height: 50px;
   
    @media @mobile {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        width: 270px;
    }
    // @media @tablet {
    //     width: 200px;
    //     font-size: 25px;
    // }
}

.bottom-img {
    display: flex;
    justify-content: center;
    opacity: .5;
    width: 100%;;
    margin: 20px;
    width: 1860px;
    height: 360px; 
    @media @mobile {
        display: flex;
        justify-content: center;
        border-radius: 40%;
        opacity: .7;
        width: 100%;
        margin: auto;
        height: 500px;
    }  
}

    footer {
      flex-direction: center;
      display: flex;
      font-size: 1.8rem;
    .copywright {
        color: @secondary-text;
        padding: 20px;
        text-align: center;
        margin: 10%;
        @media @mobile {
            display: flex;
            align-items: flex-end;
        }
    }
}  